#canvas {
    border: solid, 3px, black;
    width: 98vw;
    height: 98vh;
    background-color: black;
    opacity: .2;
}

body {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
